main .description {
  padding: 80px 0 60px 0;
}

main .description h2 {
  font-weight: 500;
  margin-bottom: 20px;
}

main .description p {
  line-height: 1.6;
}

section {
  display: flex;
  gap: 40px;
  padding-bottom: 40px;
}

form {
  flex-basis: 70%;
  height: 600px;
  background-color: #f9f9f9;
  padding: 60px 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

form div {
  width: 100%;
}

form div input {
  padding: 20px;
}

form div input::placeholder {
  font-size: 18px;
  color: #555;
}

form .name,
form .contact {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

form .name input,
form .contact input {
  width: 50%;
}

form .message input {
  width: 100%;
  padding-bottom: 200px;
}

form button {
  text-transform: uppercase;
  background-color: #1a1f6e;
  border: none;
  color: #f3f3f3;
  padding: 15px;
  letter-spacing: 2px;
  width: 100%;
}


.profile {
  flex-basis: 25%;
  background-color: #f9f9f9;
  padding: 60px 30px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.profile .address,
.profile .email,
.profile .twitter {
  display: flex;
}

.profile .address {
  margin-bottom: auto;
}

.profile .address span {
  display: inline-block;
}

.profile .address .address__content,
.profile .email .email__content,
.profile .twitter .twitter__content {
  margin-left: 40px;
}

.profile .address .address__content h4,
.profile .email .email__content h4,
.profile .twitter .twitter__content h4 {
  margin-bottom: 10px;
}

.profile .address .address__content address {
  font-style: normal;
  line-height: 1.8;
}

.profile .email .email__content p a,
.profile .twitter .twitter__content p a {
  color: #000;
}

@media only screen and (max-width:1200px) {
  section {
    flex-direction: column;
  }

  .profile {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media only screen and (max-width:900px) {

  form .name,
  form .contact {
    display: flex;
    flex-direction: column;
  }

  form .name input,
  form .contact input {
    width: 100%;
  }

  .profile {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .profile .address {
    grid-column: 1 / -1;
  }
}

@media only screen and (max-width:600px) {
  main .description {
    padding: 60px 0;
  }

  form {
    padding: 30px 20px;
  }

  form div input {
    padding: 10px;
  }

  form div input::placeholder {
    font-size: 16px;
    color: #555;
  }

  .profile {
    display: flex;
    flex-direction: column;
  }

  .profile .address span {
    display: inline-block;
  }
}