/* Main Content Style */
main {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-box,
.img-box {
  width: 50%;
}

.content-box h3 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 40px;
}

.content-box p {
  font-size: 22px;
  line-height: 1.3;
  margin-bottom: 40px;
}

.content-box button {
  border: none;
  background-color: #171717;
  padding: 10px 24px;
}

.content-box button a {
  text-decoration: none;
  color: #f3f3f3;
}

.img-box img {
  width: 100%;
}

@media only screen and (max-width:900px) {
  main {
    flex-direction: column;
    justify-content: space-evenly;
    gap: 40px;
  }

  .content-box,
  .img-box {
    width: 100%;
  }

  .content-box {
    margin-top: 50px;
  }
}

@media only screen and (max-width:600px) {
  main {
    justify-content: space-around;
  }

  .img-box img {
    width: 100%;
  }

  .content-box p {
    line-height: 1.6;
  }
}